// $container-max-width: 1700px; /* 1600+50+50 зависит от размера шаблона + размер отступов справа и слева*/
// $container-paddings: 50px; /*смотрим на шаблоны в разных рахмерах и определяем самый используемый отступ*/

$main-color-text: none;
$main-white-text: none;
$minor-grey-text: none;
$default-color-action: none;

$margin-section-bottom: none;
$main-font-size: none;
